.state-toggle-icons {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
  }
  
  .state-toggle-icons button {
    /* background-color: #007bff;
    color: white; */
    border: none;
    /* padding: 4px 8px; */
    font-size: 12px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .state-toggle-icons button:hover {
    background-color: #0056b3;
  }
  
  .tooltip {
    position: relative; /* Needed for the tooltip to position correctly */
  }
  
  .tooltip::after {
    content: attr(data-tooltip); /* Use the data-tooltip attribute value */
    position: absolute;
    top: 100%; /* Position below the element */
    left: 40%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 4px 7px;
    border-radius: 3px;
    font-size: 10px;
    white-space: nowrap;
    opacity: 0; /* Start hidden */
    pointer-events: none; /* Prevent blocking interactions */
    transition: opacity 0.2s ease;
    z-index: 999999;
  }
  
  .tooltip:hover::after {
    opacity: 1; /* Show tooltip on hover */
  }
  